* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 1500px;
  overflow-x: hidden;
}

/* navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(17, 52, 72);
  padding: 0 5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
nav .scrolled {
  background: transparent;
}
nav img {
  width: 7.2rem;
  height: 2.8rem;
  margin-top: 5px;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

nav ul li {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  gap: 2.25rem;
  line-height: 0.9rem;
}

nav li a {
  color: #fff;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 600;
}

nav li a:hover {
  color: rgb(20, 191, 152);
}

nav li a:active {
  color: rgb(20, 191, 152);
}

nav .nav-social {
  gap: 0.625rem;
}

.social-i {
  background-color: rgb(20, 191, 152);
  color: #fff;
}
.nav-social i {
  font-size: 12px;
  font-weight: 600;
  width: 1.75rem;
  height: 1.5rem;
  text-align: center;
  padding: 7px;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.nav-social i:hover {
  color: rgb(20, 191, 152);
  background-color: #fff;
}

/* home */
.home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url("/images/home.jpg");
  min-height: 56rem;
  width: 100%;
  background-position: center 0%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home .container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home h1 {
  font-size: 3.5rem;
  line-height: 4rem;
  font-weight: 700;
  color: #fff;
}

.home .words:before {
  content: "";
  animation-name: spantext;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes spantext {
  0% {
    content: "TEMPLATE";
  }
  50% {
    content: "SERVICES";
  }
  100% {
    content: "SOLUTIONS";
  }
}

.home p {
  width: 85%;
  max-width: 37.5rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 1.625rem;
  color: rgb(223, 229, 227);
  margin-top: 10px;
}

.home a {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  width: 8.45rem;
  height: 3rem;
  background-color: rgb(20, 191, 152);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(20, 191, 152);
  border-radius: 0.25rem;
  margin-top: 2rem;
}

.home a:hover {
  color: rgb(20, 191, 152);
  background-color: transparent;
}

.intro {
  width: 100%;
  padding: 6.25rem 7.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.intro .container {
  width: 100%;
  max-width: 72.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
  margin-bottom: 7.5rem;
}

.intro .text {
  width: 35%;
  text-align: left;
}

.intro .text h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.125rem;
  color: rgb(20, 191, 152);
  margin-bottom: 0.625rem;
}

.intro .text h1 {
  font-family: "Montserrat", sans-serif;
  width: 90%;
  max-width: 25rem;
  font-size: 1.75rem;
  line-height: 2.1rem;
  font-weight: 700;
  color: rgb(72, 74, 70);
  margin-bottom: 1.125rem;
}

.intro .text p {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: rgb(120, 121, 118);
  margin-bottom: 1.125rem;
}

.intro .text .para {
  font-style: italic;
}

.intro .text h3 {
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: 700;
  color: rgb(72, 74, 70);
}

.intro .image {
  width: 55%;
  overflow: hidden;
  border-radius: 0.3125rem;
  margin-left: 5rem;
}

.intro .image img {
  width: 100%;
  height: auto;
  border-radius: 0.3125rem;
  float: right;
  object-fit: fill;
  transition: 0.3s ease;
}

.intro .image img:hover {
  transform: scale(1.15);
}

.intro .cards {
  width: 100%;
  max-width: 72.5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-evenly;
  margin-bottom: 1rem;
}

.intro .card {
  width: 30%;
  max-width: 22rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  word-wrap: break-word;
  gap: 0.625rem;
}

.intro .card .card-hex {
  color: #fff;
  background-color: rgb(20, 191, 152);
  width: 6.25rem;
  height: 5.625rem;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.intro .card h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  line-height: 1.6rem;
  font-weight: 700;
  color: rgb(72, 74, 70);
}

.intro .card p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: rgb(120, 121, 118);
}

/* services */
.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(251, 251, 251);
}

/* service first */
.services .service-first {
  width: 100%;
  max-width: 93.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services .text {
  text-align: center;
  max-width: 28.125rem;
  margin-top: 6.25rem;
  margin-bottom: 2.25rem;
}

.services .text h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.125rem;
  color: rgb(20, 191, 152);
  margin-bottom: 1.125rem;
}

.services .text h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.75rem;
  line-height: 2.125rem;
  font-weight: 700;
  color: rgb(72, 74, 70);
  margin-bottom: 1.125rem;
}

.services .cards {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 3.25rem;
}

.services .cards .card {
  max-width: 21rem;
  margin-bottom: 5.625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  position: relative;
  border-radius: 0.375rem;
  border: 1px solid #ebe8e8;
}

.services .cards .card img {
  max-width: 100%;
  height: auto;
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
}

.services .cards .card .card-body {
  padding: 2.25rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services .cards .card h1 {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 0.75rem;
  text-align: center;
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.75rem;
  color: rgb(72, 74, 70);
}

.services .cards .card p {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 1rem;
  color: rgb(120, 121, 118);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.565rem;
}

.services .cards .card ul {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style: none;
  color: rgb(120, 121, 118);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.565rem;
  margin-bottom: 1.5rem;
}

.services .cards .card ul li::before {
  content: "\25A0";
  color: rgb(20, 191, 152);
  margin-right: 5px;
  font-size: 1rem;
}

.services .cards .card h3 {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0.25rem;
  color: rgb(72, 74, 70);
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
}

.services .cards .card h3 span {
  color: rgb(20, 191, 152);
}

.services .service-first a {
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  text-decoration: none;
  width: 6.875rem;
  height: 3rem;
  background-color: rgb(20, 191, 152);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(20, 191, 152);
  border-radius: 0.125rem;
  margin-top: 2rem;
  position: absolute;
  bottom: -5%;
  left: 35%;
}

.services .service-first a:hover {
  color: rgb(20, 191, 152);
  background-color: #fff;
}

/* service second */
.services .service-second {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
}

.services .service-second .image {
  width: 50%;
}

.services .service-second .image img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.services .service-second .details {
  width: 50%;
  height: 100%;
}

.services .service-second .details .container {
  max-width: 28rem;
  margin-left: 5rem;
  margin-right: auto;
  padding-top: 6.375rem;
}

.services .service-second .details .container h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.75rem;
  line-height: 2rem;
  color: rgb(72, 74, 70);
  margin-bottom: 1.625rem;
}

.services .service-second .details .container p {
  font-family: "Open Sans", sans-serif;
  margin-left: 3.125rem;
  color: rgb(120, 121, 118);
  margin-bottom: 2rem;
  margin-top: -2rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5625rem;
}

.services .service-second .item {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.services .service-second .item h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: rgb(72, 74, 70);
}

.services .service-second .item span {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  width: 2.25rem;
  height: 2.25rem;
  margin-right: 0.875rem;
  border: 0.125rem solid rgb(72, 74, 70);
  color: rgb(72, 74, 70);
  border-radius: 50%;
  font-weight: 700;
  font-size: 1rem;
  line-height: 2.125rem;
  text-align: center;
  vertical-align: middle;
  transition: all 0.2s ease;
}

.services .service-second .item .item-span {
  color: #fff;
  background-color: rgb(20, 191, 152);
  border-color: rgb(20, 191, 152);
}

.services .service-second .item .item-h3 {
  font-family: "Montserrat", sans-serif;
  color: rgb(20, 191, 152);
}

.services .service-second .item:hover span {
  color: rgb(20, 191, 152);
  background-color: #fff;
  border-color: rgb(20, 191, 152);
}

.services .service-second .item .item-span:hover {
  color: #fff;
  background-color: rgb(20, 191, 152);
  border-color: rgb(20, 191, 152);
}

.services .service-second .item:hover h3 {
  color: rgb(20, 191, 152);
}

/* service third */
.services .service-third {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
}

.services .service-third .image {
  width: 50%;
}

.services .service-third .image img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.services .service-third .details {
  width: 50%;
  height: 100%;
}

.services .service-third .details .container {
  max-width: 28rem;
  margin-right: 5rem;
  margin-left: auto;
  padding-top: 6.375rem;
}

.services .service-third .details .container .title {
  display: flex;
  flex-wrap: wrap;
  flex: 100%;
  line-height: 1.375rem;
  color: rgb(20, 191, 152);
  margin-bottom: 1.625rem;
  cursor: pointer;
}

.services .service-third .details .container .title .heading {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-right: 1rem;
}

.blur {
  color: rgb(193, 202, 206);
}

.blur:hover {
  color: rgb(20, 191, 152);
}

.services .service-third .details .container h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  line-height: 1.625rem;
  color: rgb(72, 74, 70);
  margin-bottom: 0.625rem;
}

.services .service-third .details .container p {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.565rem;
  color: rgb(120, 121, 118);
  margin-bottom: 1rem;
}

.services .service-third a {
  color: rgb(20, 191, 152);
}

.services .service-third .progress-container {
  margin-top: 1.5rem;
}

.services .service-third .progress-container .topic {
  font-family: "Open Sans", sans-serif;
  margin-top: 0.25rem;
  color: #484a46;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.services .service-third .progress-container .progress {
  height: 1.375rem;
  font-size: 0.75rem;
  margin-bottom: 1.125rem;
  border-radius: 0.125rem;
  background-color: #f9fafc;
  overflow: hidden;
}

.services .service-third .progress-container .progress .progress-bar {
  height: 100%;
  display: block;
  padding-left: 1.5rem;
  border-radius: 0.125rem;
  background: linear-gradient(to bottom right, #14bf98, #1bd1a7);
}

.services .service-third .progress-container .progress .first {
  width: 100%;
}

.services .service-third .progress-container .progress .second {
  width: 76%;
}

.services .service-third .progress-container .progress .third {
  width: 90%;
}

/* .clicked:target {
  display: block;
} */

/* service four testimonal */
.services .service-fourth {
  padding: 5rem 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services .service-fourth h3 {
  font-family: "Montserrat", sans-serif;
  color: rgb(72, 74, 70);
  text-align: center;
  font-size: 1.75rem;
  margin-bottom: 0.75rem;
}

.services .service-fourth p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5625rem;
  text-align: center;
  margin-bottom: 1rem;
  color: rgb(120, 121, 118);
}

.services .service-fourth .carousel-container {
  width: 60rem;
  position: relative;
}

.services .service-fourth .list-container {
  width: 60rem;
  display: flex;
  gap: 3rem;
  padding: 2rem 0;
  overflow-x: scroll;
}

.services .service-fourth .list-container .list-item {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  flex-grow: 0;
  flex-shrink: 0;
}

.services .service-fourth .list-container .list-item img {
  width: 6rem;
  border-radius: 50%;
}

.services .service-fourth .list-container .list-item p {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.5625rem;
  margin-bottom: 0.1rem;
  color: rgb(120, 121, 118);
}

.services .service-fourth .list-container .list-item h4 {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.375rem;
  margin-bottom: 0.625rem;
  color: rgb(72, 74, 70);
}

.services .service-fourth .common {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: rgb(72, 74, 70);
  cursor: pointer;
}

.services .service-fourth #prevBtn {
  left: -20px;
}

.services .service-fourth #nextBtn {
  right: -20px;
}

/* call-me */
.call-me {
  padding: 7rem;
  background-color: rgb(21, 62, 82);
  padding-bottom: 5.625rem;
}

.call-me .container {
  width: 100%;
  max-width: 71.25rem;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.call-me .container .container-subdiv {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
}

/* container col first */
.call-me .container-col1 {
  position: relative;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;
  max-width: 50%;
}

.call-me .container-col1 .text-container {
  margin-top: 1.375rem;
  margin-right: 1.75rem;
  margin-left: 3rem;
}

.call-me .container-col1 .text-container .section-title {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0.5rem;
  color: rgb(20, 191, 152);
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}

.call-me .container-col1 .text-container h2 {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1.375rem;
  font-size: 1.75rem;
  line-height: 2.125rem;
  color: #fff;
}

.call-me .container-col1 .text-container p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5625rem;
  margin-bottom: 1rem;
  color: rgb(223, 229, 227);
}

.call-me .container-col1 ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 1rem;
  columns: rgb(223, 229, 227);
}

.call-me .container-col1 ul li {
  margin-bottom: 0.375rem;
  padding-left: 0;
  color: rgb(223, 229, 227);
}

.call-me .container-col1 ul li::before {
  content: "\25A0";
  color: rgb(20, 191, 152);
  margin-right: 5px;
  font-size: 1rem;
}

/* form */
.call-me .form {
  position: relative;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;
  max-width: 50%;
}

.call-me form {
  display: block;
  margin-top: 0;
  margin-left: 1.75rem;
  margin-right: 3rem;
}

.call-me .form-group {
  position: relative;
  margin-bottom: 1.25rem;
}

.call-me .form-control-input,
.call-me .form-control-select {
  font-family: "Open Sans", sans-serif;
  display: block;
  width: 100%;
  padding-top: 1.25rem;
  padding-left: 1.3125rem;
  padding-bottom: 0.25rem;
  border: 1px solid #2a5d77;
  border-radius: 0.25rem;
  color: #787976;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.375rem;
  background-color: #2a5d77;
  color: white;
  outline: none;
}

.form-control-input:hover,
.form-contro-select:hover {
  border: 1px solid #dadada;
}

.form-control-select {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  height: 3rem;
}

.call-me .label-control {
  font-family: "Open Sans", sans-serif;
  position: absolute;
  top: 0.8125rem;
  left: 1.375rem;
  color: #787976;
  opacity: 1;
  font: 400;
  font-size: 0.875rem;
  line-height: 1.375rem;
  cursor: text;
  transition: all 0.2s ease;
  color: #fff;
}

.call-me input:focus ~ label,
.call-me input:valid ~ label {
  top: -0.125rem;
  font-size: 0.75rem;
}

select {
  background-image: url(./images/down-arrow.png);
  background-position: 96% 50%;
  background-repeat: no-repeat;
  outline: none;
}

.form-control-select {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  height: 3rem;
  -webkit-appearance: none;
}

.checkbox,
.checkbox a {
  font-family: "Open Sans", sans-serif;
  color: rgb(251, 251, 251);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.375rem;
}

input[type="checkbox"] {
  vertical-align: -15%;
  margin-right: 0.375rem;
}

.form-control-submit-button {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  width: 100%;
  height: 3.125rem;
  border: 0.125rem solid rgb(20, 191, 152);
  border-radius: 0.25rem;
  background-color: rgb(20, 191, 152);
  color: #fff;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.75rem;
  cursor: pointer;
  transition: all 0.2s;
}

.form-control-submit-button:hover {
  background-color: transparent;
}

/* projects */
.projects {
  padding-top: 6.5rem;
  padding-bottom: 7rem;
}

.projects .container {
  width: 100%;
  max-width: 71.25rem;
  padding-right: 1rem;
  margin-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.projects .container .contaier-row1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
}

.projects .container .container-col {
  position: relative;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
  max-width: 100%;
}

.projects .container .contaier-row1 h2,
.projects .container .contaier-row1 .section-title {
  text-align: center;
  color: rgb(20, 191, 152);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
}

.projects .container .contaier-row1 h2 {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 3.25rem;
  color: rgb(72, 74, 70);
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 2.125rem;
}

.projects .container .contaier-row2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}

.projects input {
  display: none;
}

.projects .container .contaier-row2 .top-content {
  text-align: center;
}

.projects .container .contaier-row2 .top-content label {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.25rem;
  display: inline-block;
  margin-left: 0.1875rem;
  margin-right: 0.1875rem;
  margin-bottom: 0.5rem;
  padding: 0.3125rem 1.375rem 0.25rem 1.375rem;
  border-radius: 0.25rem;
  background-color: #f1f4f7;
  color: rgb(120, 121, 118);
  cursor: pointer;
  transition: all 0.2s ease;
}

.projects .container .contaier-row2 .top-content label:hover {
  background-color: rgb(20, 191, 152);
  color: #fff;
}

.projects .photo-gallery {
  height: 33.75rem;
  margin-top: 1.25rem;
  border-radius: 0.375rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.projects .photo-gallery .pics {
  position: relative;
}
.projects .photo-gallery img {
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: all 0.5s ease;
}

.projects .photo-gallery img:hover {
  transform: scale(1.01);
  filter: brightness(90%);
}

.projects .photo-gallery .pics span {
  font-family: "Montserrat", sans-serif;
  position: relative;
  top: 50%;
  left: 25%;
  transition: 0.5s;
  color: #fff;
  z-index: 1;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.625rem;
  opacity: 0;
}

.projects .photo-gallery .pics:hover span {
  opacity: 1;
}

.top-content #selected {
  background-color: rgb(20, 191, 152);
  color: #fff;
}

/* team */
.team {
  padding-top: 10rem;
  padding-bottom: 3.375rem;
  background-color: rgb(251, 251, 251);
  text-align: center;
}

.team .container {
  width: 100%;
  max-width: 71.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.team .container .container-row1 {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}

.team .container .container-row1 .container-col1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
  max-width: 100%;
}

.team .container .container-row1 .container-col1 h2 {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0.75rem;
  font-size: 1.75rem;
  line-height: 2.215rem;
  color: rgb(72, 74, 70);
}

.team .container .container-row1 .container-col1 p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5625rem;
  margin-bottom: 3.5rem;
  text-align: center;
  max-width: 55%;
  color: rgb(120, 121, 118);
}

.team .container .contaier-row2 {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
  flex-direction: row-reverse;
}

.team .container .container-col2 {
  position: relative;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
}

.team .container .contaier-row2 .container-col2 .team-members {
  width: 14.375rem;
  margin-left: 1.375rem;
  margin-right: 1.375rem;
}

.team-members .img {
  overflow: hidden;
  margin-bottom: 1.5rem;
}

.team-members .img img {
  max-width: 100%;
  height: auto;
  margin: 0;
  transition: all 0.3s;
  vertical-align: middle;
  border-style: none;
}

.team-members .img img:hover {
  transform: scale(1.16);
}

.team-members p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.625rem;
  margin-bottom: 0.25rem;
  color: rgb(120, 121, 118);
}

.team-members h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 1.375rem;
  margin-bottom: 0.75rem;
  color: rgb(72, 74, 70);
}

.team .social-icons .stack {
  display: inline-block;
  height: 2rem;
  line-height: 2rem;
  position: relative;
  vertical-align: middle;
  /* width: 2rem; */
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 0.125rem;
  margin-left: 0.125rem;
  cursor: pointer;
}

.team .social-icons .stack .hexagon {
  position: absolute;
  left: 0;
  width: 1.75rem;
  height: 1.75rem;
  background: rgb(20, 191, 152);
  color: #fff;
  background-size: 1.75rem 1.75rem;
  transition: all 0.2s ease;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.team .stack:hover .hexagon {
  background: transparent;
}

.team .stack:hover i {
  color: rgb(20, 191, 152);
}

/* about */
.about {
  padding-bottom: 6.125rem;
  /* padding-top: 6.875rem; */
}

.about .container {
  width: 100%;
  max-width: 71.25rem;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.about .container .container-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
}

.about .container .container-col1 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 50%;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;
}

.about img {
  max-width: 100%;
  border-radius: 0.25rem;
  height: auto;
  border-style: none;
  vertical-align: middle;
}

.about .container .text {
  margin-top: 0.375rem;
}

.about .container .text h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.75rem;
  line-height: 2.125rem;
  margin-bottom: 1.375rem;
  color: rgb(120, 121, 118);
}

.about .container .text p,
.about .container .text ul li {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5625rem;
  margin-bottom: 1rem;
  color: rgb(120, 121, 118);
}

.about .container .text ul li {
  list-style-type: none;
}

.text .title {
  font-family: "Montserrat", sans-serif;
  color: rgb(20, 191, 152);
}

.about .container .text ul li::before {
  content: "\25A0";
  color: rgb(20, 191, 152);
  margin-right: 5px;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.about .counter .cell {
  display: inline-block;
  width: 9.5rem;
  margin-bottom: 0.75rem;
}

.about .counter .counter-value {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  margin-bottom: 0.125rem;
  color: rgb(20, 191, 152);
  font-weight: 700;
  font-size: 2.875rem;
  line-height: 3.25rem;
  vertical-align: middle;
}

.about .counter .counter-info {
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  margin-left: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  vertical-align: middle;
  color: rgb(120, 121, 118);
}

/* contact */
.contact {
  padding-top: 6.875rem;
  padding-bottom: 5.625rem;
  background-color: rgb(251, 251, 251);
}

.contact .container {
  width: 100%;
  max-width: 71.25rem;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.contact .container .container-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}

.contact .container-col {
  position: relative;
  width: 50%;
  padding-right: 1rem;
  padding-left: 1rem;
}

.contact .container-col .text {
  margin-top: 0.875rem;
  margin-right: 1.5rem;
}

.contact h2 {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1.375rem;
  font-size: 1.75rem;
  line-height: 2.125rem;
  color: rgb(72, 74, 70);
}

.contact p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5625rem;
  margin-bottom: 1rem;
  color: rgb(120, 121, 118);
}

.contact .list-unstyled {
  margin-bottom: 2.25rem;
  font-size: 1rem;
  line-height: 1.625rem;
}

.contact .list-unstyled li {
  margin-right: 1rem;
  display: inline-block;
  text-decoration: none;
}

.contact .list-unstyled .address {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5625rem;
  color: rgb(120, 121, 118);
}

.contact .list-unstyled .fa {
  margin-right: 0.5rem;
  font-size: 0.875rem;
  color: #14bf98;
}

a {
  font-family: "Open Sans", sans-serif;
  color: rgb(120, 121, 118);
  text-decoration: underline;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5625rem;
}

.contact h3 {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.75rem;
  color: rgb(72, 74, 70);
}

.contact .stack {
  margin-left: 0.125rem;
  margin-right: 0.25rem;
  margin-bottom: 0.75rem;
  cursor: pointer;
  width: 3.25rem;
  height: 3.25rem;
}

.contact .stack-i {
  align-items: center;
  font-size: 1.5rem;
  width: 3.25rem;
  height: 3.25rem;
  line-height: 3.25rem;
  padding-left: 1rem;
  color: #fff;
  vertical-align: middle;
  transition: all 0.2s ease;
  background-color: rgb(20, 191, 152);
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.contact .stack .hexagon {
  position: absolute;
  width: 3.25rem;
  height: 3.25rem;
  background-size: 3.25rem 3.25rem;
  transition: all 0.2s ease;
}

.contact .stack:hover .stack-i {
  background: transparent;
  color: rgb(20, 191, 152);
}

/* contact form */
.contact .form {
  position: relative;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;
  max-width: 50%;
}

.contact form {
  display: block;
  margin-top: 0;
  margin-left: 1.75rem;
  margin-right: 3rem;
}

.contact .form-group {
  position: relative;
  margin-bottom: 1.25rem;
}

.contact .form-control-input,
.contact .form-control-select {
  font-family: "Open Sans", sans-serif;
  display: block;
  width: 100%;
  padding-top: 1.25rem;
  padding-left: 1.3125rem;
  padding-bottom: 0.25rem;
  border: 1px solid #bbbebf;
  border-radius: 0.25rem;
  color: #787976;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.375rem;
  /* background-color: #2a5d77; */
  color: #fff;
  outline: none;
}

.form-control-input:hover,
.form-contro-select:hover,
.form-control-textarea:hover {
  border: 1px solid #dadada;
}

.form-control-select {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  height: 3rem;
}

.contact .label-control {
  font-family: "Open Sans", sans-serif;
  position: absolute;
  top: 0.8125rem;
  left: 1.375rem;
  color: #787976;
  opacity: 1;
  font: 400;
  font-size: 0.875rem;
  line-height: 1.375rem;
  cursor: text;
  transition: all 0.2s ease;
}

.contact input:focus ~ label,
.contact textarea:focus ~ label,
.contact input:valid ~ label {
  top: -0.125rem;
  font-size: 0.75rem;
}

textarea {
  overflow: auto;
  resize: vertical;
  width: 100%;
  height: 8rem;
  border: 1px solid #dadada;
  border-radius: 0.25rem;
}

textarea:focus {
  border: 1px solid #dadada;
}

.contact .checkbox {
  font-family: "Open Sans", sans-serif;
  color: rgb(17, 52, 72);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.565rem;
}
.contact .checkbox a {
  font-family: "Open Sans", sans-serif;
  color: rgb(120, 121, 118);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.565rem;
}

.contact button:hover {
  color: rgb(20, 191, 152);
}

/* footer */
footer {
  padding-top: 1rem;
  background-color: rgb(17, 52, 72);
}

footer .container {
  width: 100%;
  max-width: 72.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

footer .container-row {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: first baseline;
}

footer .container-col-1 {
  position: relative;
  width: 340%;
  padding-left: 1rem;
  padding-right: 1rem;
}

footer .text {
  margin-bottom: 2.25rem;
}

footer .text.about {
  margin-right: 2rem;
  padding-bottom: 1rem;
  padding-top: 2.675rem;
}

footer h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.625rem;
  margin-bottom: 0.75rem;
  color: #fff;
}

footer p,
footer ul {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5625rem;
}

footer a.white,
footer .white {
  color: rgb(223, 229, 227);
}

footer p {
  margin-top: 0;
  margin-bottom: 1rem;
}

footer .container-col-2 {
  position: relative;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.copyright,
.copyright a {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  margin: auto;
  padding-bottom: 2rem;
  color: rgb(223, 229, 227);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.375rem;
  text-align: center;
}

footer li {
  list-style-type: none;
}

footer .li-space-lg li {
  margin-bottom: 0.375rem;
}

/* footer img */

.imglast {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 7.5rem;
  padding-bottom: 2rem;
  padding-left: 2.5rem;
}

/* arrow  */
a.back-to-top {
  position: fixed;
  z-index: 5;
  right: 0.75rem;
  bottom: 0.75rem;
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 1.875rem;
  background: rgb(20, 191, 152) url(./images/up-arrow.png) no-repeat center 47%;
  background-size: 1.125rem 1.125rem;
}

nav a.back-to-top {
  display: none;
}
